body {

	margin: 0;
	padding: 0;

	background: #fff url("../imgs/bricks.jpg") scroll no-repeat left top;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

.name-wrapper {
	margin: 30vh 10% 0;
}

.name-wrapper img.name {
	width: 80%;
}

.name-wrapper {

}

.name-wrapper .products {
	padding: 20px 0;
	overflow: hidden;
}

.name-wrapper .products a.prod {
	position: relative;
	border: 3px solid transparent;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
	display: block;
	float: left;
	margin-right: 20px;
	overflow: hidden;

	-webkit-transition: border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    -moz-transition: border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    -ms-transition: border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    -o-transition: border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
}

.name-wrapper .products a.prod:hover {
	border-color: #000;
	box-shadow: 0 0 10px 5px #fff, 0 0 10px 5px #fff inset;
}

.name-wrapper .products a.prod .label {
	position: absolute;
	left: 0;
	width: calc(100% - 30px);
	bottom: 0;
	background: #000;
	color: #fff;
	display: none;
	opacity: 0;
	padding: 15px;
	border-radius: 0;
	z-index: 100;

	-webkit-transition: opacity 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
}

.name-wrapper .products a.prod:hover .label {
	display: block;
	opacity: 1;
}

.name-wrapper .products a.prod .label h3,
.name-wrapper .products a.prod .label h4 {
	padding: 0;
	margin: 0;
}

.name-wrapper .products a.prod .label h4 {
	margin-top: 10px;
}

.name-wrapper .products a.prod .label .msg {
	margin-top: 10px;
	font-style: italic;
}

.name-wrapper .products a.prod .image {
	
}

.name-wrapper .products a.prod .image img {
	width: 150px;
}

.logo-wrapper {
	position: absolute;
	right: 50px;
	top: 50px;
	text-align: right;
}

.logo-wrapper img.logo {
	width: 10%;
}

.socials {
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: absolute;
	bottom: 50px;
	right: 50px;
}

.socials .soc {
	float: left;
	margin: 0 20px;
}

.socials .soc span {
	display: none;
}

.socials .soc a {
	font-size: 50px;
	color: #000;
	border: 3px solid transparent;
	border-radius: 20px;
	padding: 20px 20px 10px;
	text-align: center;
	width: 50px;
	display: block;

	-webkit-transition: border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    -moz-transition: border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    -ms-transition: border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    -o-transition: border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
}

.socials .soc a:hover {
	border-color: #000;
	box-shadow: 0 0 10px 5px #fff, 0 0 10px 5px #fff inset;
}